<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>THis is home page </h1>
    <h3><%= 1 + 2%></h3>
    <p>Lorem ipsum dolor sit amet consectetur
         adipisicing elit. Perspiciatis asperiores animi 
         ad deserunt consequuntur! Iusto vel omnis, aliquid 
         nam officia maxime itaque quam reiciendis maiores.
          Impedit sit ipsum officiis ex.</p>
    <button>click me </button>
    <%- include("includes/footer.ejs") %>
</body>
</html>