div{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 0 auto;
    margin-top: 20px;
}
div:hover{
    /* background-color: red;
    /* transition: 1s; */
    /* border-radius: 50%; */
    margin-top: 400px;
    background-color: pink;
} 