<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home Page</title>
</head>
<body>
    <h2>Total number of x count :  <%= count %> </h2>
    <button>join us today </button>
</body>
</html>