<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <h3>edit you title</h3>
    <p>post id: <%= post.id %>  </p>
    <p>post username:@ <%= post.username %> </p>
    <form  method="POST" action="/posts<%=post.id%>?_method=patch">

        <textarea name="content"><%= post.content %>  its working</textarea>
        <button> Submit</button>
    </form>
</body>
</html>